*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    color: #000;
}

.info-title{
    width: 100%;
    height: auto;
    margin-top: 7vh;
    margin-bottom: 7vh;
    font-size: 5vh;
    display: flex;
    justify-content: center;
}

.info-hero{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.hero-text{
    width: 50%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4vw;
    line-height: 3vw;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    width: 40vw;
}

button{
    width: 10vw;
    height: 7vh;
    margin-left: 2vw;
    margin-top: 1vw;
    border-radius: 7px;
    background-color: #531CB3;
    border: none;
    transition: 0.3s ease-in-out;
}

button a{
    color: white;
    text-decoration: none;
}

button:hover{
    width: 11vw;
    height: 8vh;
}









