
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    width: 100%;
    height: 100vh;
    --color1:#fff;
    --color2:#531CB3;
    scroll-behavior: smooth;
}

nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
    top: 0;
}

.logo img{
    width: 40px;
}

.menu{
    display: flex;
    position: sticky;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    justify-content: flex-end;
}

.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after{
    width: 100%;
}

.open-menu , .close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu{
    top: 20px;
    right: 20px;
}

#check{
    display: none;
}

/* hero section  */

.hero{
    width: 100%;
    height: auto;  
    display: flex;
    justify-content: space-between;
}

.hero-image{
    margin-right: 5%;
    margin-top: 2.5%;
    display: flex;
    position: relative;
}

.hero-image img{
    width: 30vw;
    height: auto;
    border-radius: 10px;
}

.herotext h1{
    font-size: 9vw;
}

#hero-tittle-1{
    padding-left: 4vw;
    margin-top: 2vw;
    opacity: 0.7;
}

#hero-tittle-2{
    padding-left: 8vw;
}

.herotext{
    width: fit-content;
}

.gradient{
    background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #0119f0, #2541fa, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient{
    to{
        background-position:  200%;
    }
}

.herotext2 h4{
    display: flex;
    justify-content: flex-end;
    font-size: 1.25vw;
    opacity: 0.7;
    gap: 4px;
    padding-top: 2vw;
}

.hero-footer{
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    margin-top: 4vw;
}

.hero-footer i{
    font-size: 2vw;
    justify-self: center;
    cursor: pointer;
    transition: 0.3s;
    align-self: center;
    opacity: 0.7;
}

.hero-footer button{
    background-color: var(--color2);
    width: 6.5vw;
    height: 3vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s;
    font-size: 1vw;
}

.hero-footer button a{
    color: var(--color1);
    text-decoration: none;
}

.hero-footer button:hover{
    opacity: 0.9;
    width: 110px;
    height: 45px;
}

.hero-footer i:hover{
    font-size: 2.5vw;
    color: #531CB3;
    opacity: 1;
}

/* about section  */

.about{
    width: 100%;
    height: auto;
}

.about h1{
    font-size: 6vw;
    display: flex;
    justify-content: center;
    margin: 5vw;
    gap: 20px;
}

.about-sect{
    display: flex;
    justify-content: space-around;
}

.about-text{
    font-size: 1.3vw;
    width: 40vw;
}

.about-text p{
    font-size: 1.5vw;
}

.about-text button{
    background-color: var(--color2);
    width: 11vw;
    height: 4vw;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    color: #fff;
    transition: 0.3s;
    font-size: 1.2vw;
    margin-top: 3vw;
}

.about-text button a{
    color: var(--color1);
    text-decoration: none;
}

.about-text button:hover{
    opacity: 0.9;
    width: 12vw;
    height: 4.3vw;
}

.about-image img{
    width: 30vw;
    border-radius: 10px;
}

.expertise{
    width: 100%;
    height: auto;
}

.expertise #expertise-tittle{
    font-size: 6vw;
    display: flex;
    justify-self: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    gap: 20px;
}

.expertise-boxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 9vw;
    margin-bottom: 9vw;
}

.boxes{
    border-radius: 25px;
    box-shadow: 0 0 3px 3px lightgray ;
    box-shadow: 3px 3px 0 0 var(--color2);
    width: 25vw;
    height: 35vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2.5vw;
    transition: 0.3s ease-in-out;
}

.boxes h3{
    padding-bottom: 15px;
    color: var(--color2);
}

.boxes p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1vw;
}

.boxes i{
    font-size: 2.5vw;
    cursor: pointer;
    padding-top: 1.5vw;
}

.boxes:hover{
    width:28vw;
    height: 38vh;

}

/* contact section  */


.contact-section{
    width: 100%;
    height: auto;
}

.contact{
    display: flex;
    justify-content: space-between;
}

.contact-section h1{
    font-size: 5vw;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5vw;
}

/* .contact-icons{
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    margin-bottom: 3vw;
}

.contact-icons i{
    font-size: 2vw;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 3vw;
    align-items: center;
} */

/* .contact-icons button{
    margin-top: 3vw;
    background-color: var(--color2);
    width: 6.5vw;
    height: 3vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s;
    font-size: 1vw;
    margin-bottom: 3vw;
}

.contact-icons button:hover{
    opacity: 0.9;
    width: 110px;
    height: 45px;
}

.contact-icons i:hover{
    font-size: 2.2vw;
    color: #531CB3;
} */

.contact-form{
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15vw;
    border-radius: 10px ;
    /* border: 3px solid #531CB3;  */
    margin-left: 30vw;
    background-color: lightgray;
    padding-top: 3vw;
    margin-bottom: 4vw;
}

.contact-form input{
    width: 30vw;
    height: 4vw;
    border-radius: 10px;
    border: 2px solid var(--color2);
    box-shadow: 3px 3px lightgrey;
    margin-bottom: 3vw;
    padding-left: 1vw;
    transition: 0.3s ease-in-out;
    justify-self: center;
}

.contact-form textarea{
    width: 30vw;
    height: 4vw;
    border-radius: 10px;
    border: 2px solid var(--color2);
    box-shadow: 3px 3px lightgrey;
    margin-bottom: 3vw;
    padding-left: 1vw;
    transition: 0.3s ease-in-out;
    justify-self: center;
    padding-top: 1vw;
}

.contact-form input:hover,
.contact-form textarea:hover{
    width: 32vw;
    height: 4.5vw;
}

.contact-form button{
    margin-top: 1.5vw;
    background-color: var(--color2);
    width: 6.5vw;
    height: 3vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s;
    font-size: 1vw;
    margin-bottom: 4vw;
}

.contact-form button:hover{
    opacity: 0.9;
    width: 110px;
    height: 45px;
}

footer{
    background-color: black;
    height: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-icons{
    display: flex;
    flex-direction: column;
}

.footer-icons i{
    font-size: 1.3vw;
    transition: 0.3s ease-in-out;
}
.footer-icons i:hover{
    font-size: 1.4vw;
}


@media (max-width:650px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 65%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2 ease-in-out;
    }

    .menu li{
        margin-top: 40px;
    }

    .menu li a{
        padding: 10px;
    }

    .open-menu , .close-menu{
        display: block
    }

    #check:checked ~ .menu{
        right: 0;
        transition: 0.5s ease-in-out;
    }

    .hero{
        flex-direction: column;
        width: fit-content;
    }

    .herotext h1{
        font-size: 16vw;
    }

    .herotext2 h4{
        font-size: 3.5vw;
        margin-top: 3vw;
    }

    .hero-footer{
        margin-top: 7vw;
        margin-bottom: 7vw;
    }

    .hero-footer button{
        width: 24vw;
        height: 10vw;
        font-size: 3.5vw;
}

    .hero-footer i{
        font-size: 7vw;
    }

    .hero-image{
        display: flex;
        justify-content: center;
    }

    .hero-image img{
        width: 100vw;
        padding-left: 2vw;
    }

    .about h1{
        gap: 8px;
        margin-top: 10vw;
        margin-bottom: 10vw;
        font-size: 10vw;
    }

    .about-sect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-image img{
        width: 80vw;
        justify-self: center;

    }

    .about-text{
        width: 100%;
    }

    .about-text p{
        padding-left: 5vw;
        line-height: 25px;
        padding-top: 5vw;
        gap: 10px;
        font-size: 4vw;
    }

    .about-text button{
        margin-top: 5vw;
        margin-left: 7vw;
        width: 24vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .about button:hover{
        width: 24vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .boxes{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .expertise-boxes{
        display: flex;
        flex-direction: column;
    }

    .boxes{
        width: 70vw;
        margin-top: 10vw;
    }

    .expertise #expertise-tittle{
        gap: 8px;
        font-size: 10vw;
        margin-top: 9vw;
    }

    .boxes h3{
        font-size: 6vw;
        margin-top: 7vw;
    }

    .boxes p{
        font-size: 4vw;
    }

    .boxes i{
        font-size: 8vw;
        margin-top: 4vw;
        margin-bottom: 4vw;

    }

    .contact{
        display: flex;
        flex-direction: column;
    }

    .contact-section h1{
        gap: 8px;
        font-size: 10vw;
        margin-top: 15vw;
    }

    .contact-icons i{
        font-size: 5vw;
    }

    .contact-icons button{
        margin-top: 5vw;
        margin-left: 7vw;
        width: 24vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .contact-icons button:hover{
        width: 24vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .contact-form input{
        width: 70vw;
        height: 6vh;
        margin-top: 6vw;
    }

    .contact-form button{
        margin-top: 5vw;
        margin-left: 7vw;
        width: 24vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .contact-form button:hover{
        width: 24vw;
        height: 10vw;
        font-size: 3.5vw;
    } 

    footer{
        flex-direction: column;
    }

    .footer-icons i{
        font-size: 2vw;
    }

}


/* animation effects */


.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation {
    0%{
        filter: blur(25px);
        opacity: 0;
    }
    35%, 65% {
        filter: blur(0);
        opacity: 1;
    }
    100%{
          font: blur(25px);
        opacity: 0;
    }
}


/*auto display animation*/


.autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline: view();
}

@keyframes autoDisplayAnimation {
    from{
        filter: blur(10px);
        transform: translateY(-200px) scale(0);
        opacity: 0.2;
    }
    50%{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0) scale(1);
    }
}

.fadeInRight{
    animation: fadeInAnimation both;
    animation-timeline: view();
}

@keyframes fadeInAnimation{
    0%{
        opacity: 0;
        transform: translateX(-500px) scale(0.2);
        filter: blur(20px);
    }
    35%,65%{
        opacity: 1;
        transform: translateX(0px) scale(1);
        filter: blur(0);
    }
    100%{
        filter: blur(20px);
    }
}


